// COLORS

$color-primary: #2E4C6A;
$color-primary-light: #537895;
$color-primary-dark: #09203f;

$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

$card-one-color-light: #F7B538;
$card-one-color-dark: #FD5200;

// FONT 

$default-font-size: 1.6rem;

// GRID

$grid-width: 114rem;
