.grid-container {
    max-width: $grid-width;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 4rem;
    margin: 0 auto;

    @include respond(tab-port) { // width < 900
        grid-template-columns: 1fr;
        max-width: 70rem;
     }

    &--item {
        padding: 0 2rem;
    }
    
}